body {
  margin: 0;
  background-color: #cde;
}

ul.apps {
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 0;
}

ul.apps li {
  display: inline-block;
  border: 1px solid white;
  border-top: none;
  padding: 80px 5px 5px;
  margin: 0 5px;
}

ul.apps li a {
  display: inline-block;
  height: 100px;
  width: 100px;
}

a.icon-emails {
  background-image: url('/images/email.png');
}

a.icon-call {
  background-image: url('/images/call.png');
}

a.icon-chat {
  background-image: url('/images/chat.png');
}

a.icon-cloud {
  background-image: url('/images/cloud.png');
}

a.icon-media {
  background-image: url('/images/media.png');
}

a.icon-pads {
  background-image: url('/images/pads.png');
}
