body {
  margin: 0;
  background-color: #cde;
  font-family: 'Lato-Light', sans-serif;
  color: #08f;
}

div#apps {
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  margin: 0 auto;
}

ul.apps {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.apps li {
  position: relative;
  display: inline-block;
  border: 1px solid white;
  border-top: none;
  padding: 80px 5px 5px;
  margin: 0 5px;
}

ul.apps li a {
  display: inline-block;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  background-repeat: no-repeat;
  transition: background-color 0.5s ease-in-out;
}
ul.apps li a:hover { background-color: rgb(167, 202, 238); }

ul.apps li a::before {
  content: "";
  position: absolute;
  z-index: 1;
  margin: 80px 5px 5px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  transition: opacity 0.2s ease-in-out;
  opacity: 1;
}
ul.apps li a:hover:before { opacity: 0; }

a.icon-emails { background-image: url('/images/email-hover.png'); }
a.icon-emails::before { background-image: url('/images/email.png'); }

a.icon-call { background-image: url('/images/call-hover.png'); }
a.icon-call::before { background-image: url('/images/call.png'); }

a.icon-chat { background-image: url('/images/chat-hover.png'); }
a.icon-chat::before { background-image: url('/images/chat.png'); }

a.icon-cloud { background-image: url('/images/cloud-hover.png'); }
a.icon-cloud::before { background-image: url('/images/cloud.png'); }

a.icon-media { background-image: url('/images/media-hover.png'); }
a.icon-media::before { background-image: url('/images/media.png'); }

a.icon-pads { background-image: url('/images/pads-hover.png'); }
a.icon-pads::before { background-image: url('/images/pads.png'); }

div#descriptions div {
  position: absolute;
  margin-top: -10000px;
  margin-left: 10px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

div#descriptions div.active {
  margin-top: 50px;
  opacity: 1;
}


/*
 * SVG formatting
 */

div#footer svg {
  position: absolute;
  bottom: 0;
}

div#side svg {
  position: fixed;
  width: 100%;
}

.twinkle {
  fill: #08f;
  transition: fill 2s ease-in-out;
}

.twinkle:hover {
  fill: #ffc0cb;
  transition: fill 0.2s ease-in-out;
}


/*
 * Fonts
 */

@font-face {
  font-family: 'Lato-Light';
  font-style: normal;
  font-weight: 400;
  src: local('Lato-Light'), url(/fonts/Lato/Lato-Light.ttf);
}
