/* ------------------ ALL LINKS ------------------ */
a:link {
	color: #0F0;
	text-decoration: none;
	font-weight: bold;
}
a:visited {
	color: #0F0;
}
/* ---------------- ALL LINKS END ---------------- */