@font-face {
    font-family: "CrimsonRoman";
    src: url(___LIBRARIES/_fonts/Crimson_Text/CrimsonText-Roman.ttf);
}

@font-face {
	font-family: "LatoRegular";
	src: url(___LIBRARIES/_fonts/Lato/Lato-Regular.ttf);
}

@font-face {
	font-family: "LatoLight";
	src: url(___LIBRARIES/_fonts/Lato/Lato-Light.ttf);
}

@font-face {
	font-family: "LatoBold";
	src: url(___LIBRARIES/_fonts/Lato/Lato-Bold.ttf);
}